/* Global Styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Media query for screens less than 600 pixels wide
@media (max-width: 600px) {
  body {
    background-color: #cccccc;
  }
} */

/* Navigation Styles */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Header Styles */
header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-header {
  background-image: url("./images/index-background.jpg");
}

.contact-header {
  background-image: url("./images/contact-background.jpg");
}

.about-header {
  background-image: url("./images/about-background.jpg");
}

.projects-header {
  background-image: url("./images/projects-background.jpg");
}

header h1 {
  color: #fff;
  font-size: 4rem;
  text-shadow: 2px 2px #333;
}

/* Section Styles */
section {
  padding: 2rem;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

section p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.001rem;
}


